@media (max-width:900px){
    .container{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .subir{
        bottom: 20px;

    }
    .projeto{
        width: 65%;
    }
}
@media (max-width:400px){
    header{
        height: 12vh;
    }
    .header-menu{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .hotel h1{
        font-size: 35px;
    }
    .nome-projeto h2{
        font-size: 20px;
    }
}
@media (max-width:300px){
    .hotel h1{
        font-size: 30px;
    }
}
@media (max-width:600px){
    .projeto{
        width: 90%;
    }
}