@media (max-width:1000px){
    .imagemwired{
        width: 200px;
    }
}
@media (max-width:900px){
    .nome-rilords{
        font-size: 80px;
    }
    .imagemwired{
        width: 180px;
    }
    .container{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width:600px){
    .section-menu{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:400px){
    header{
        height: 12vh;
    }
    .header-menu{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-width:350px){
    .nome-rilords{
        font-size: 60px;
    }
    .imagemwired{
        width: 150px;
    }
}
@media (max-width:270px){
    .nome-rilords{
        font-size: 50px;
    }
    .imagemwired{
        width: 120px;
    }
}